@font-face {
  font-family: Figtree;
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
    --line-height: 1.5;
    --fs-small: 14px;
    --fs-medium: 16px;
    --fs-large: 24px;
    --fw-medium: 500;
    --fw-extra-bold: 800;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: var(--space-4);
    color: var(--Gray-950);
    line-height: var(--line-height);
    font-family: "Figtree", sans-serif;
    font-weight: var(--fw-medium);
    background-color: var(--Yellow);
}

.blog-preview {
    min-height: 500px;
    max-width: calc(336px + var(--space-4) + var(--space-4));

    padding: var(--space-4);
    border: 1px solid var(--Gray-950);
    border-radius: 20px;
    background-color: var(--White);
    box-shadow: 8px 8px 0 var(--Gray-950);
    transition: all 600ms;

    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.blog-preview:hover { box-shadow: 16px 16px 0 var(--Gray-950); }
.blog-preview:hover .blog-title { color: var(--Yellow); }
.blog-tag, .blog-title, .blog-author { cursor: pointer; }

.preview-image {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    max-width: 336px;
    object-fit: cover;
    border-radius: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-3);
}

.blog-tag, .blog-author, .blog-title { font-weight: var(--fw-extra-bold); }

.blog-tag, .date-published, .blog-author { font-size: 12px; }
.blog-title { font-size: 20px; }
.blog-description, .blog-author { font-size: var(--fs-small); }

.blog-tag {
    background-color: var(--Yellow);
    padding: var(--space-1) var(--space-3);
    border-radius: var(--space-1);
}

.blog-description { color: var(--Gray-500); }

@media screen and (min-width: 376px) {
    .blog-tag, .date-published { font-size: var(--fs-small); }
    .blog-title { font-size: var(--fs-large); }
    .blog-description { font-size: var(--fs-medium); }
}

.blog-author {
    display: flex;
    align-items: center;
    gap: var(--space-3);
}

.blog-author-image { height: 32px; }